<hello name="{{ name }}"></hello>


<label><input type="checkbox" checked #ckb (change)="backend.setWorking($event.target.checked)"> Backend working?</label>

<hr />

<form [formGroup]="form" (ngSubmit)="onFormSubmit(form)">
  <div>
    <label>Message: </label>
    <input type="text" formControlName="message">
    <select formControlName="level">
      <option value="DEBUG">Debug</option>
      <option value="INFO">Info</option>
      <option value="WARN">Warning</option>
      <option value="ERROR">Error</option>
      <option value="FATAL">Fatal</option>
    </select>
  </div>
  <button>Send</button>
</form>

<div>
  <h3>Messages arrived</h3>
  <ul>
    <li *ngFor="let msg of submittedMessages">
      {{ msg.message }} - {{ msg.level }}
    </li>
  </ul>  

</div>